# Proba User Clusters

In [4]:
from utils.api_utils.facebook_api import FacebookAPI

In [5]:
fb = FacebookAPI(token="EAACEdEose0cBAFe56ZBbD2OfTD5r8pcG2jHQzOZBEDru2WdrI4DulQyMAOJKXdAxOd2BrUDUvtX5StiYpFM9zdD2ta6EsuchlJoVK86tG0rc9ZBA3jHMzV3hfsl3nUGUowOQBGGVPaiLugf7CBoOfvkYpT05P14THddtvm5wG8ZBApdYn2BEqtfBoKajxAYLkGb70KVirgZDZD")
fb.connect()

In [6]:
people_data = fb.request(ids=['231541427020961', '353020448134882','432281083635619'])
for key, value in people_data.items():
    print(key,value)
    print('--------')

231541427020961 {'about': 'Petit Maison √® la prima boutique per cani e gatti nel cuore di Napoli. ', 'emails': ['petitmaisonsnc@gmail.com'], 'location': {'city': 'Naples', 'country': 'Italy', 'latitude': 40.83573, 'longitude': 14.24029, 'street': 'via della Cavallerizza a Chiaia, 57', 'zip': '80121'}, 'category': 'Pet Store', 'id': '231541427020961'}
--------
353020448134882 {'about': 'Lifestyle - menswear - music blog\nwww.hipsteriaproject.eu', 'emails': ['infohipsteria@gmail.com'], 'category': 'Personal Blog', 'id': '353020448134882'}
--------
432281083635619 {'about': 'Gaia & Nina Blog | Proud mama of 2 girls ‚ô° | Mama‚Äôs & Mini‚Äôs Fashion | Lifestyle | Follow us @gaiaandnina', 'emails': ['gaianinapace@gmail.com'], 'location': {'city': 'Valletta', 'country': 'Malta', 'street': 'Valletta', 'zip': 'Vlt'}, 'category': 'Just For Fun', 'id': '432281083635619'}
--------

### Db read User's ids

In [11]:
from utils.db_utils.base_db import Database

In [12]:
comment_db = Database(host='localhost', port=3306, user='root', passwd='', db='sentiment_db')
comment_db.connect()
results = comment_db.fetch_all(select='id, content, from_id, idpost', from_clause='im_commento', data_as_dataframe=True)

results.head(25)

Database connection created: <sqlalchemy.engine.base.Connection object at 0x000002BDCF25E8D0>

,id,content,from_id,idpost
0,1,Nice,970575303012401,347223
1,2,Caro Ibot !!!!!,1146897688677176,347182
2,3,"Ma in provincia di Ragusa,dove possiamo acquis...",1558161314514299,347159
3,4,Beautiful,10153412920857547,347159
4,5,Nice,970575303012401,347159
5,6,Bellissime!,10209519910903087,347058
6,7,Bellissime!,521631137961969,347058
7,8,‚ù§Ô∏èüôè,353020448134882,346036
8,9,,521631137961969,345942
9,10,"Lovely, lovely, lovely!",10153412920857547,345934
10,11,Luv!,10153412920857547,345911
11,12,Top dmaisssss,1994354470788799,345911
12,13,nice,191242821257927,342461
13,14,http://www.cultmarche.it/i-concorrenti-di-sanr...,167812506753120,342408
14,15,http://www.cultmarche.it/i-concorrenti-di-sanr...,167812506753120,342409
15,16,http://www.cultmarche.it/i-concorrenti-di-sanr...,167812506753120,342410
16,17,K hay de raro?,1278950738798578,337111
17,18,Como te quiero Alejandro zan,1070837196312568,337111
18,19,Ohhhh look it's Gaia!! üíÑüë†,10153936314870820,335758
19,20,We love your shoes!! Both of us üòçüíÑüë†,10153256171437015,335758
20,21,how cute she is :) adorable xx,10204076369708880,335758
21,22,Future fashionistaüíÑüíÑüíÑüíÑ,10153799513736280,335758
22,23,Fantastic! Stylish and cute ‚ù§Ô∏èüíã,839499913471,335758
23,24,Hahaha!! Yes it is üòòüòòüòò,432281083635619,335758
24,25,Dear Shohsanam Alirizaeva check here http://ow...,168919466473021,335760

In [13]:
comment_db.table_names()

['im_brand',
 'im_canalesocial',
 'im_commento',
 'im_mention',
 'im_post',
 'im_social']

In [14]:
comment_db.close()

Closing database connection <sqlalchemy.engine.base.Connection object at 0x000002BDCF25E8D0>