#  Preprocessing part

In [1]:
import pandas as pd 
import numpy as np

In [2]:
from sqlalchemy import create_engine, MetaData, Table
from sqlalchemy import select

In [3]:
engine = create_engine('mysql+pymysql://root:@localhost:3306/sentiment_db')

connection = engine.connect()

metadata = MetaData()

In [4]:
engine.table_names()

['im_brand',
 'im_canalesocial',
 'im_commento',
 'im_mention',
 'im_post',
 'im_social']

### Comments

In [5]:
comments = Table('im_commento', metadata, autoload=True, autoload_with=engine)

stmt = select([comments])

results = connection.execute(stmt).fetchall()

In [10]:
print(comments.columns.keys())

['id', 'idpost', 'content', 'from_id', 'created_on', 'originalIdCommento']

In [7]:
df_comments = pd.DataFrame(results, columns=comments.columns.keys())

In [8]:
df_comments.head()

,id,idpost,content,from_id,created_on,originalIdCommento
0,1,347223,Nice,970575303012401,1458387156,1099137360117889_1099842606714031
1,2,347182,Caro Ibot !!!!!,1146897688677176,1459327104,1097601910271434_1111842668847358
2,3,347159,"Ma in provincia di Ragusa,dove possiamo acquis...",1558161314514299,1458059761,1096784297019862_1096834300348195
3,4,347159,Beautiful,10153412920857547,1458066633,1096784297019862_1096897087008583
4,5,347159,Nice,970575303012401,1458078677,1096784297019862_1097020766996215

In [11]:
df_comments.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 536209 entries, 0 to 536208
Data columns (total 6 columns):
id                    536209 non-null int64
idpost                536209 non-null int64
content               536209 non-null object
from_id               536209 non-null object
created_on            536209 non-null int64
originalIdCommento    536209 non-null object
dtypes: int64(3), object(3)
memory usage: 24.5+ MB

### Posts

In [12]:
posts = Table('im_post', metadata, autoload=True, autoload_with=engine)

stmt_posts = select([posts])

result_posts = connection.execute(stmt_posts).fetchall()

In [13]:
print(posts.columns.keys())

['id', 'idcanalesocial', 'content', 'link', 'likes', 'var_likes', 'comments', 'var_comments', 'shares', 'var_shares', 'img', 'originalIdPost', 'timestamp', 'inserted_on', 'updated_on', 'postlink', 'sponsored', 'spam', 'spam_verified']

In [14]:
df_posts = pd.DataFrame(result_posts, columns=posts.columns.keys())
df_posts.head()

,id,idcanalesocial,content,link,likes,var_likes,comments,var_comments,shares,var_shares,img,originalIdPost,timestamp,inserted_on,updated_on,postlink,sponsored,spam,spam_verified
0,79726,1,In honor of the 30th anniversary of Super Mari...,https://www.facebook.com/luisaviaroma.lvr/phot...,2702,0,43,0,90,0,https://scontent.xx.fbcdn.net/hphotos-xat1/v/t...,110378796336_10153870549051337,1449477010,1449587445,1449587445,None,0,NaN,0.0
1,79727,1,"Amy, a film directed by Asif Kapadia. \n\nWatc...",https://www.facebook.com/luisaviaroma.lvr/vide...,1110,0,10,0,133,0,https://scontent.xx.fbcdn.net/hvthumb-xtp1/v/t...,110378796336_10153864325466337,1449224541,1449587445,1449587445,None,0,NaN,0.0
2,79728,1,Welcome to Spring Summer 2016! Be the first to...,https://www.facebook.com/luisaviaroma.lvr/phot...,1475,0,19,0,28,0,https://scontent.xx.fbcdn.net/hphotos-xpf1/v/t...,110378796336_10153860068316337,1449045516,1449587445,1449587445,None,0,NaN,0.0
3,79729,1,A winning Fall Winter pairing! Shop the look: ...,https://www.facebook.com/luisaviaroma.lvr/phot...,69,0,1,0,8,0,https://scontent.xx.fbcdn.net/hphotos-xlf1/v/t...,110378796336_10153855993651337,1448874736,1449587445,1449587445,None,0,NaN,0.0
4,79730,1,Spend More Save More! \nExclusive Black Friday...,https://www.facebook.com/luisaviaroma.lvr/phot...,14,0,1,0,3,0,https://scontent.xx.fbcdn.net/hphotos-xpa1/v/t...,110378796336_10153850421311337,1448626340,1449587445,1449587445,None,0,NaN,0.0

In [15]:
df_posts.drop('postlink', axis=1, inplace=True)
df_posts.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 662855 entries, 0 to 662854
Data columns (total 18 columns):
id                662855 non-null int64
idcanalesocial    662855 non-null int64
content           662855 non-null object
link              662855 non-null object
likes             662855 non-null int64
var_likes         662855 non-null int64
comments          662855 non-null int64
var_comments      662855 non-null int64
shares            662855 non-null int64
var_shares        662855 non-null int64
img               662855 non-null object
originalIdPost    662855 non-null object
timestamp         662855 non-null int64
inserted_on       662855 non-null int64
updated_on        662855 non-null int64
sponsored         662855 non-null int64
spam              54966 non-null float64
spam_verified     487464 non-null float64
dtypes: float64(2), int64(12), object(4)
memory usage: 91.0+ MB

In [20]:
df_posts.spam_verified.value_counts()

0.0    487461
1.0         3
Name: spam_verified, dtype: int64

In [27]:
df_posts.spam_verified.isnull().sum() # Missing values

175391

### Brands

In [28]:
brands = Table('im_brand', metadata, autoload=True, autoload_with=engine)

stmt_brands = select([brands])

result_brands = connection.execute(stmt_brands).fetchall()

In [29]:
print(brands.columns.keys())

['id', 'nome', 'ignore', 'inserted_on', 'updated_on', 'genere', 'nome_normalized']

In [30]:
df_brands = pd.DataFrame(result_brands, columns=brands.columns.keys())
df_brands.head()

,id,nome,ignore,inserted_on,updated_on,genere,nome_normalized
0,1,Luisa Via Roma,0,1.450695e+09,1486979455,N,Luisa Via Roma
1,1684,Versace,1,1.450695e+09,1492931054,N,Versace
2,1685,Yves Saint Laurent,0,1.450695e+09,1495567406,N,Yves Saint Laurent
3,1686,Dolce & Gabbana,0,1.450695e+09,1495415178,N,Dolce & Gabbana
4,1687,Gianvito Rossi,1,1.450695e+09,1493071046,N,Gianvito Rossi

In [32]:
df_brands.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 98813 entries, 0 to 98812
Data columns (total 7 columns):
id                 98813 non-null int64
nome               98813 non-null object
ignore             98813 non-null int64
inserted_on        98809 non-null float64
updated_on         98813 non-null int64
genere             98813 non-null object
nome_normalized    98813 non-null object
dtypes: float64(1), int64(3), object(3)
memory usage: 5.3+ MB

### Social Channels

In [33]:
soc_cha = Table('im_canalesocial', metadata, autoload=True, autoload_with=engine)

stmt_soc_cha = select([soc_cha])

result_soc_cha = connection.execute(stmt_soc_cha).fetchall()

In [34]:
print(soc_cha.columns.keys())

['id', 'idbrand', 'original_idbrand', 'idsocial', 'official', 'discovered_by', 'username', 'lastupdated', 'usernameid', 'post_value', 'age_restricted', 'spam', 'spam_verified']

In [35]:
df_soc_cha = pd.DataFrame(result_soc_cha, columns=soc_cha.columns.keys())
df_soc_cha.head()

,id,idbrand,original_idbrand,idsocial,official,discovered_by,username,lastupdated,usernameid,post_value,age_restricted,spam,spam_verified
0,1,1,1,1,1,1,luisaviaroma,1.495704e+09,110378796336,NaN,0,NaN,0
1,318,1,1,2,1,1,luisaviaroma,1.495671e+09,15325657,NaN,0,0.334104,0
2,319,1,1,3,1,1,LuisaViaRoma,1.495704e+09,19399719,NaN,0,0.333571,0
3,320,1,1,4,1,1,+LuisaviaromaLVR,1.495704e+09,111879623910380563940,NaN,0,NaN,0
4,1687,19625,1684,1,1,1,,1.495220e+09,260751060175,NaN,0,NaN,0

In [36]:
df_soc_cha.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 95074 entries, 0 to 95073
Data columns (total 13 columns):
id                  95074 non-null int64
idbrand             95074 non-null int64
original_idbrand    95074 non-null int64
idsocial            95074 non-null int64
official            95074 non-null int64
discovered_by       95074 non-null int64
username            95073 non-null object
lastupdated         92959 non-null float64
usernameid          95074 non-null object
post_value          4 non-null float64
age_restricted      95074 non-null int64
spam                35042 non-null float64
spam_verified       95074 non-null int64
dtypes: float64(3), int64(8), object(2)
memory usage: 9.4+ MB

### Mentions

In [43]:
mentions = Table('im_mention', metadata, autoload=True, autoload_with=engine)

stmt_mentions = select([mentions])

result_mentions = connection.execute(stmt_mentions).fetchall()

In [44]:
print(mentions.columns.keys())

['id', 'idpost', 'idbrand', 'idcanalesocial', 'idsocial']

In [45]:
df_mentions = pd.DataFrame(result_mentions, columns=mentions.columns.keys())
df_mentions.head()

   id  idpost  idbrand  idcanalesocial  idsocial
0   1   79726     1931            1934         1
1   2   79726     1932            1935         1
2   3   79729     1933            1936         1
3   4   79732     1684            1687         1
4   5   79732     1685            1688         1

In [46]:
df_mentions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 343574 entries, 0 to 343573
Data columns (total 5 columns):
id                343574 non-null int64
idpost            343574 non-null int64
idbrand           343574 non-null int64
idcanalesocial    343574 non-null int64
idsocial          343574 non-null int64
dtypes: int64(5)
memory usage: 13.1 MB

### Social

In [47]:
socials = Table('im_social', metadata, autoload=True, autoload_with=engine)

stmt_socials = select([socials])

result_socials = connection.execute(stmt_socials).fetchall()

In [48]:
print(socials.columns.keys())

['id', 'nome', 'slug', 'likesterm', 'basepath', 'data_available', 'has_login']

In [49]:
df_socials = pd.DataFrame(result_socials, columns=socials.columns.keys())
df_socials.head()

,id,nome,slug,likesterm,basepath,data_available,has_login
0,1,Facebook,facebook,likes,https://www.facebook.com/,1,1
1,2,Instagram,instagram,followers,https://instagram.com/,1,1
2,3,Twitter,twitter,followers,https://twitter.com/,1,0
3,4,Google+,google-plus,followers,https://plus.google.com/u/0/,1,0

In [50]:
df_socials.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 7 columns):
id                4 non-null int64
nome              4 non-null object
slug              4 non-null object
likesterm         4 non-null object
basepath          4 non-null object
data_available    4 non-null int64
has_login         4 non-null int64
dtypes: int64(3), object(4)
memory usage: 304.0+ bytes